* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  font-size: 16px;
  margin: 0;
}

/*Expenses*/
.expenses {
  width: 50rem;
  max-width: 95%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: #1f1f1f;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

/*Expense Item*/
.expense-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 12px;
  background-color: #4b4b4b;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.expense-item__description {
  display: flex;
  align-items: flex-end;
  flex: 1;
  flex-flow: column-reverse;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.expense-item h2 {
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: #3a3a3a;
  color: white;
}

.expense-item__price {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  color: white;
  border: 1px solid white;
  border-radius: 12px;
  background-color: #40005d;
}

@media (min-width: 580px) {
  .expense-item__description {
    align-items: center;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
  }

  .expense-item__description h2 {
    font-size: 1.25rem;
  }

  .expense-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}

/*Expense Date*/
.expense-date {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 5.5rem;
  height: 5.5rem;
  color: white;
  border: 1px solid #ececec;
  border-radius: 12px;
  background-color: #2a2a2a;
}

.expense-date__month {
  font-size: 0.75rem;
  font-weight: bold;
}

.expense-date__year {
  font-size: 0.75rem;
}

.expense-date__day {
  font-size: 1.5rem;
  font-weight: bold;
}

/*Expense Filter*/
.expenses-filter {
  padding: 0 1rem;
  color: white;
}

.expenses-filter__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
}

.expenses-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.expenses-filter select {
  font: inherit;
  font-weight: bold;
  padding: 0.5rem 3rem;
  border-radius: 6px;
}
